@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><b>Movies</b></h2>
@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary" })
<br/>


    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><b>Movie</b></th>
                <th><b>Genre</b></th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({

                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.Id + "'>" + movie.Name + "</a>"
                        }
                    },
                    {
                        data: "Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>"
                        }
                    }

                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                //Bootstrap Dialouge Box
                bootbox.confirm("Are you sure to delete this Movie?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });
        });
</script>

    }



