<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppId" value="1897211093845250"/>
  <add key="FacebookAppSecret" value="9150409eca26e77376d863701568b3ca"/>
</appSettings>